.diagram-layout {
    padding: 12px;

    &__header {
        height: var(--height-header-diagram); 
        padding: 0px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--border-radius-medium);
        background-color: #A1DED6;
        color: #2b7f75;
        font-weight: 600;
    }

    &__body {
        margin: 0 0 0 var(--width-sidebar-diagram);
        padding: 12px 0 0px 12px;
    }

    &__sidebar {
        position: fixed;
        left: calc(var(--width-sidebar) + 12px);
        top: calc(var(--height-header) + var(--height-header-diagram) + 24px);
        bottom: 12px;
        width: var(--width-sidebar-diagram);
        background-color: #fff;
        border-radius: var(--border-radius-medium);
        transition: var(--trans-extend-layout);

        &__header {
            padding: 10px;
            font-weight: 600;
            font-size: 13px;
            border-bottom: 1px solid #ccc;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 4px;
            padding: 10px 0px;
        }

        &__item {
            width: 100%;
            padding: 6px 10px 6px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 24px;
            cursor: pointer;
            position: relative;
            transition: 0.15s ease;

            a {
                font-size: 12px;
                font-weight: 500;
                color: black;
                text-decoration: none;
            }

            .fa-ellipsis-vertical {
                opacity: 0;
                transition: 0.15s ease;
            }

            .fa-caret-right {
                position: absolute;
                left: 7px;
                top: 50%;
                transform: translateY(-50%);
            }

            &.active {
                a {
                    font-weight: 600;
                }
            }

            &:hover {
                background-color: #C2EAEF;

                i {
                    opacity: 1;
                }
            }
        }
    }



    &__content {
        flex: 1;
    }

    &.expanded {

        .diagram-layout__sidebar {
            left: calc(var(--width-extend-sidebar) + 16px);
        }
    }
}