<div class="app-layout__taskbar"> 
    <div class="app-layout__taskbar__list">
        <ng-container *ngFor="let item of list">
            <a routerLink="/main/diagram" class="app-layout__taskbar__item">
                <div class="app-layout__taskbar__item__icon">
                    <i [class]="item.icon"></i>
                </div>
                <div class="app-layout__taskbar__item__title">
                    {{item.title}}
                </div>
            </a>
        </ng-container> 
    </div>
</div>