.app-layout__taskbar {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    // display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        gap: 16px;
        height: 100%;
        border-radius: 3rem 3rem 0 0;
        padding: 12px 36px 6px;
        border: 3px solid var(--backgroud-taskbar);
        background: var(--backgroud-taskbar);
        transition: all .3s ease;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        font-weight: 500;
        gap: 6px;
        cursor: pointer;
        background: white;
        color: black;
        border-radius: 50px;
        user-select: none;
        position: relative;
        width: 36px;
        height: 36px;

        &__icon {
            align-items: center;
            justify-content: center;
        }

        &__title {
            position: absolute;
            top: -40px;
            font-size: 12px;
            font-weight: 500;
            border-radius: 50px;
            opacity: 0;
            padding: 6px 12px;
            color: #000;
            background: white;
            transition: opacity .15s ease;
            min-width: max-content;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        &:hover &__title {
            opacity: 1;
        }
    }
}