<div class="project-layout" [ngClass]="{'expanded': isExpand}">
    <div class="project-layout__sidebar">
        <div (click)="isOpenWorkspace=!isOpenWorkspace" class="project-layout__sidebar__workspace">
            <button  class="project-layout__sidebar__button-workspace">
                <span>{{workspace?.name}}</span>
                <i class="fa-solid fa-sort"></i>
            </button>
            <div *ngIf="isOpenWorkspace" class="project-layout__sidebar__panel-workspace">
                <div class="project-layout__sidebar__panel-workspace__wrapper">
                    <div class="project-layout__sidebar__panel-workspace__item" *ngFor="let item of workspaces">
                        <button class="project-layout__sidebar__panel-workspace__item__button" (click)="handleChangeWorkspace(item)">
                            {{item.name}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-layout__sidebar__title">
            Projects
        </div>
        <ul class="project-layout__sidebar__list">
            <li *ngFor="let project of projects" class="project-layout__sidebar__list__item">
                <a class="project-layout__sidebar__list__item__link" [routerLink]="project.link + '/' + project.link">
                    <i [class]="project.icon"></i> <span>{{project.name}}</span>
                </a>
                <button class="project-layout__sidebar__list__item__favorite">
                    <i class="fa-regular fa-star" *ngIf="!project.isFavorite"></i>
                    <i class="fa-solid fa-star" *ngIf="project.isFavorite"></i>
                </button>
            </li>
        </ul>
        <div class="project-layout__sidebar__title">
            Recently
        </div>
        <ul class="project-layout__sidebar__list">
            <li *ngFor="let project of projects" class="project-layout__sidebar__list__item">
                <a class="project-layout__sidebar__list__item__link" [routerLink]="project.link">
                    <i [class]="project.icon"></i> <span>{{project.name}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="project-layout__body">
        <div class="project-layout__body__toolbar">
            <div class="project-layout__body__tabs">
                <button class="project-layout__body__tab-home" [ngClass]="{'active': isActive==-1}"> 
                    <i class="fa-solid fa-house"></i>
                    <!-- <span>Home</span>  -->
                </button>
                <ng-container *ngFor="let item of projects; index as i">
                    <button     
                        (click)="handleChangeTab(i)" 
                        [ngClass]="{'active': i==isActive}"
                        class="project-layout__body__tab" 
                    > 
                        <span>{{item.name}}</span>
                        <i *ngIf="i==isActive" class="fa-solid fa-xmark"></i>
                        <p class="project-layout__body__tabs__line" [ngClass]="{'d-none': i==isActive || i==isActive-1 || i == projects.length - 1}"></p>
                    </button> 
                </ng-container>
            </div>
            <div>
                123
            </div>
        </div>
        <router-outlet></router-outlet>  
    </div>
</div>
<div class="overlay"></div>